*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}


header{
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}


#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #e6e6e6;
    padding: 40px;
    box-shadow: 0 0 .5em black;
}
h1{
    margin: 15px;
}
p{
    margin: 10px;
}



#formPesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px
}
#formPesquisa div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 1225px;
}
form label{
    text-align: start;
    font-size: 16px;
}
form select{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: #8f241e;
    font-size: 16px;
}


#divBottom{
    margin-top: 20px;
}
form input{
    border: none;
    border-bottom: 1px solid black;
    padding-left: 3px;
    outline: none;
    font-size: 28px;
    color: #8f241e;
}
#formPesquisa button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin-left: 10px; margin-right: 10px;
}



table{
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
    color: #8f241e;
}
table td, th{
    border: 0.1px solid black;
    padding: 8px;
}
.iconeTabela{
    width: 25px;
}
.iconeTabela:hover{
    cursor: pointer;
}



#modalContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#adicionarFuncionarioTela{
    width: 50%;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    background-color: darkgray;
    box-shadow: 0 0 .5em black;
    padding: 10px;
}
#adicionarFuncionarioTela input{
    margin-top: 10px;
    margin-bottom: 5px;
}
#adicionarFuncionarioTela input{
    font-size: 12px;
    background: none;
    width: 100%;
}
#adicionarFuncionarioTela button{
    width: 100%;
}


.container-form{
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}